@font-face {
  font-family: amatic;
  src: url("./fonts/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: almarai;
  src: url("./fonts/Almarai-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size:18px;
}

.fixed-size{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-humanie{
    background-color: rgb(202, 211, 225) ;
    border-color: rgb(202, 211, 225) ;
}

body {
    font-family: 'almarai', sans-serif;
    color: rgb(89,89,91);
    margin-bottom: 50px;
    margin-top: 90px;
}

h1, h2{
    font-family: 'amatic', serif;
}

h2{
    padding-top: 20px;
    padding-bottom: 30px;
}


#about {
    padding: 1.5em 1.5em;
    background-color: rgb(202, 211, 225) ;;
    color: white;
    text-align: justify;
}

.navbar-humanie {
    background-color: rgb(202, 211, 225) ;
}

/* change the brand and text color */

.navbar-humanie .navbar-brand, .navbar-humanie .navbar-text {
    color: 	#fff;
}

/* change the link color */

.navbar-humanie .navbar-nav .nav-link {
    color: hsl(0,0%,95%);
}

/* change the color of active or hovered links */

.navbar-humanie .nav-item.active .nav-link, .navbar-humanie .nav-item:hover .nav-link {
    color: hsl(0,0%,100%);
}